@use "../utils/utils.scss";
// Header
.header-main {
  display: flex;
  flex-direction: column;
}
#logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 12px 0px 12px 0px;
}
.city-search {
  display: flex;
  width: 100%;
  background-color: utils.$grey;
  box-shadow: inset 0px 2px 3px 0px rgba(50, 50, 50, 0.25);
  padding: 12px 5px;
  justify-content: center;

  // Recherche de la ville du restaurant
  form {
    .input-city {
      text-align: center;
      background-color: utils.$grey;
      border: none;
      @include utils.font-principal;
      font-weight: 500;
    }
    ::placeholder {
      color: black;
      opacity: 0.8;
    }
  }
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: utils.$light-grey;
  h2 {
    @include utils.h2;
    flex-wrap: wrap;
    @include utils.font-principal;
    margin: 20px 80px;
    text-align: center;
  }
  p {
    margin: 0px 30px 25px 30px;
    @include utils.font-principal;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
  }
  button {
    @include utils.button-website;
  }
}
// Menus des restautants
.menu {
  background-color: utils.$light-grey;
  padding: 0px 25px 60px 22px;
  h2 {
    @include utils.h2;
    padding-top: 40px;
  }
  .menu__restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
    a {
      text-decoration: none;
      color: black;
    }
    .menu__card {
      width: 100%;
      transform: translateX(-38px);

      figure {
        width: 100%;
        border-radius: 20px;
        background-color: white;
        @include utils.shadow-basic;
        &:hover {
          @include utils.zoom-main-button;
        }
      }
      .new {
        position: relative;
      }
      .new::before {
        content: "Nouveau";
        position: absolute;
        height: 35px;
        width: 80px;
        background-color: utils.$vertCG;
        display: grid;
        place-items: center;
        top: 15px;
        right: 15px;
        @include utils.font-principal;
        font-weight: 500;
        color: darken($color: utils.$vertCG, $amount: 40%);
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }
      figcaption {
        position: relative;
        p {
          @include utils.font-principal;
          padding-left: 10px;
          font-weight: 200;
          line-height: 150%;
          padding-bottom: 12px;
        }
        .fa-heart {
          @include utils.heart-positionnement;
          transform: translateY(-40px);
          top: 50%;
          font-size: 25px;
        }
        .fas {
          @include utils.empty-heart;
          &:hover {
            @include utils.full-heart;
            transform: translateY(-40px) scale(1.1);
          }
        }
      }
    }
  }
}

footer {
  background-color: utils.$footer-color;
  padding-bottom: 50px;
  h2 {
    padding: 20px 0px 15px 35px;
    margin: 0px;
    @include utils.font-title;
    color: white;
    font-weight: 400;
  }
  p {
    padding-left: 35px;
    margin-block-end: 0px;
    @include utils.font-principal;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 90%;
    a {
      text-decoration: none;
      color: white;
    }
    .fas {
      color: white;
      margin-right: 10px;
      color: white;
    }
    .fa-hands-helping {
      font-size: 13px;
    }
  }
}
