@use "../utils/utils.scss";
// Header
header {
  display: flex;
  flex-direction: column;
}
#logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 12px 0px 12px 0px;
}
.city-search {
  display: flex;
  width: 100%;
  background-color: utils.$grey;
  box-shadow: inset 0px 2px 3px 0px rgba(50, 50, 50, 0.25);
  padding: 12px 5px;
  justify-content: center;

  // Recherche de la ville du restaurant
  form {
    .input-city {
      text-align: center;
      background-color: utils.$grey;
      border: none;
      @include utils.font-principal;
      font-weight: 500;
    }
    ::placeholder {
      color: black;
      opacity: 0.8;
    }
  }
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: utils.$light-grey;
  h2 {
    @include utils.h2;
    flex-wrap: wrap;
    @include utils.font-principal;
    margin: 20px 80px;
    text-align: center;
  }
  p {
    margin: 0px 30px 25px 30px;
    @include utils.font-principal;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
  }
  button {
    @include utils.font-principal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border: none;
    padding: 14px 27px;
    border-radius: 20px;
    @include utils.shadow-basic;
    @include utils.gradient-button;
    margin-bottom: 50px;
    transition: transform 200ms;
    &:hover {
      @include utils.gradient-light-scale;
    }
  }
}
// Menus des restautants
.menu {
  background-color: utils.$light-grey;
  padding: 0px 25px;
  h2 {
    @include utils.h2;
    padding-top: 40px;
  }
  .menu__restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .menu__cards {
      flex-grow: 1;
      height: 150px;
      border-radius: 15px;
      background-size: cover;
      background-size: 100%;
    }
    .rest-1 {
      background-image: url(../../Images/menu_palette_du_gout.jpg);
    }
    .rest-2 {
      background-image: url(../../Images/menu_note_enchantée.jpg);
    }
    .rest-3 {
      background-image: url(../../Images/menu_a_la_francaise.jpg);
    }
    .rest-4 {
      background-image: url(../../Images/menu_le_délice_des_sens.jpg);
    }
  }
}
