@charset "UTF-8";
/* Couleurs principales */
/* CG pour Charte Graphique */
/* Nuances des couleurs principales*/
/* Mixin Font */
/* Mixin dégradés button */
/* Mixin zoom button */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
}

#logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 12px 0px 12px 0px;
}

/* Couleurs principales */
/* CG pour Charte Graphique */
/* Nuances des couleurs principales*/
/* Mixin Font */
/* Mixin dégradés button */
/* Mixin zoom button */
.reservation-step {
  padding: 0px 25px;
}
.reservation-step h2 {
  font-weight: 500;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.reservation-step .steps {
  counter-reset: tuto;
}
.reservation-step .steps ol {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}
@media (max-width: 901px) {
  .reservation-step .steps ol {
    flex-direction: column;
  }
}
.reservation-step .steps li {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 20px 25px;
  border-radius: 15px;
  box-shadow: 1px 4px 4px 0px rgba(50, 50, 50, 0.3);
  flex-grow: 1;
}
.reservation-step .steps li::before {
  content: "" counter(tuto);
  counter-increment: tuto;
  color: white;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 16.5px;
  left: -12px;
}
.reservation-step .steps li:hover {
  transform: scale(1.02);
}
.reservation-step .steps li i.fas {
  margin-right: 15px;
  margin-left: 10px;
}
.reservation-step .steps li i.fa-store {
  color: #9356dc;
}

/* Couleurs principales */
/* CG pour Charte Graphique */
/* Nuances des couleurs principales*/
/* Mixin Font */
/* Mixin dégradés button */
/* Mixin zoom button */
header {
  display: flex;
  flex-direction: column;
}

#logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 12px 0px 12px 0px;
}

.city-search {
  display: flex;
  width: 100%;
  background-color: #e2e3e5;
  box-shadow: inset 0px 2px 3px 0px rgba(50, 50, 50, 0.25);
  padding: 12px 5px;
  justify-content: center;
}
.city-search form .input-city {
  text-align: center;
  background-color: #e2e3e5;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.city-search form ::-moz-placeholder {
  color: black;
  opacity: 0.8;
}
.city-search form :-ms-input-placeholder {
  color: black;
  opacity: 0.8;
}
.city-search form ::placeholder {
  color: black;
  opacity: 0.8;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f3;
}
.heading h2 {
  font-weight: 500;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  margin: 20px 80px;
  text-align: center;
}
.heading p {
  margin: 0px 30px 25px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}
.heading button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border: none;
  padding: 14px 27px;
  border-radius: 20px;
  box-shadow: 1px 4px 4px 0px rgba(50, 50, 50, 0.3);
  background: linear-gradient(#ff79da, #9356dc);
  margin-bottom: 50px;
  transition: transform 200ms;
}
.heading button:hover {
  background: linear-gradient(#ff88de, #9b63df);
  transform: scale(1.01);
}

.menu {
  background-color: #f2f3f3;
  padding: 0px 25px;
}
.menu h2 {
  font-weight: 500;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
}
.menu .menu__restaurants {
  display: flex;
  /*grid-template-columns: repeat(2, 1fr);*/
  /*gap: 25px;*/
  /*@media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);*/
}
.menu .menu__card {
  height: 150px;
  border-radius: 15px;
  background-size: cover;
  width: 50%;
}
.menu .menu__card figure img {
  width: 100%;
}

/* Couleurs principales */
/* CG pour Charte Graphique */
/* Nuances des couleurs principales*/
/* Mixin Font */
/* Mixin dégradés button */
/* Mixin zoom button *//*# sourceMappingURL=style.css.map */