@use "../utils/utils.scss";
.reservation-step {
  padding: 0px 25px;
  h2 {
    @include utils.h2;
  }
  .steps {
    counter-reset: tuto;
    & ol {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      padding-inline-start: 15px;
      @media (max-width: 901px) {
        flex-direction: column;
      }
    }
    & li {
      position: relative;
      @include utils.font-principal;
      font-weight: 500;
      list-style-type: none;
      background-color: #f6f6f6;
      padding: 20px 25px;
      border-radius: 15px;
      @include utils.shadow-basic;
      flex-grow: 1;
      &:hover {
        box-shadow: 1px 4px 6px 0px rgba(50, 50, 50, 0.3);
        background-color: lighten($color: #f6f6f6, $amount: 1%);
      }
      &::before {
        content: "" counter(tuto);
        counter-increment: tuto;
        color: white;
        background-color: utils.$purpleCG;
        height: 25px;
        width: 25px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;
        bottom: 16.5px;
        left: -12px;
      }
      &:hover {
        @include utils.zoom-main-button;
      }
      & i.fas {
        margin-right: 15px;
        margin-left: 10px;
      }
      & i.fa-store {
        color: utils.$purpleCG;
      }
    }
  }
}
