@use "../utils/utils.scss";
.header-resto {
  display: flex;
  align-items: center;
  h1 {
    @include utils.font-title;
    margin: 15px auto;
  }
  .fa-arrow-left {
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    left: 20px;
  }
}
img {
  width: 100%;
  height: 55vh;
  @media (max-width: 767px) {
    height: 40vh;
  }
  object-fit: cover;
  display: block;
}
.cartes {
  background-color: utils.$middle-grey;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  margin-top: -45px;
  @media (max-width: 767px) {
    margin-top: -80px;
  }
  h2 {
    @include utils.font-title;
    margin: 0px;
    padding: 25px 30px;
    font-size: 28px;
  }
  .fa-heart {
    @include utils.heart-positionnement;
    transform: translateY(10px);
    top: 0px;
    padding-right: 25px;
    font-size: 28px;
  }
  .fas {
    @include utils.empty-heart;
    &:hover {
      @include utils.full-heart;
      transform: translateY(10px) scale(1.1);
    }
  }
}
.cartes .cartes__menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 0px 30px;
  article {
    .menus__meal {
      background-color: white;
      border-radius: 20px;
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      overflow: hidden;
      @include utils.font-principal;
      @include utils.shadow-meal;
      h4 {
        margin: 12px 0px 0px 12px;
        font-size: 18px;
        font-weight: 500;
      }
      p {
        margin: 5px 0px 12px 12px;
        font-weight: 200;
      }
      .meal__price {
        margin-left: auto;
        margin-top: auto;
        padding: 0px 8px 0px 0px;
        font-weight: 500;
      }
      .meal__addtocart {
        background-color: utils.$vertCG;
        border-radius: 0px 20px 20px 0px;
        padding-right: 30px;
        padding-top: 50px;
        margin-right: -80px;
        margin-left: 10px;
        transition: all 500ms ease-in-out;
      }
      &:hover .meal__addtocart {
        margin-right: 0px;
      }
    }
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
