/* Couleurs principales */
$purpleCG: #9356dc;
$pinkCG: #ff79da;
$vertCG: #99e2d0;
$footer-color: #353535;
/* CG pour Charte Graphique */

/* Nuances des couleurs principales*/
$middle-grey: #f6f6f6;
$grey: #e2e3e5;
$light-grey: lighten($grey, 6%);
$light-purple: lighten($purpleCG, 3%);
$light-pink: lighten($pinkCG, 3%);

/* Mixin Font */
@mixin font-title {
  font-family: "Shrikhand", cursive;
}
@mixin font-principal {
  font-family: "Roboto", sans-serif;
}
@mixin h2 {
  font-weight: 500;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
/* Mixin dégradés button */
@mixin button-website {
  @include font-principal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border: none;
  padding: 14px 27px;
  border-radius: 20px;
  @include shadow-basic;
  @include gradient-button;
  margin-bottom: 50px;
  transition: transform 200ms;
  &:hover {
    @include gradient-light-scale;
    cursor: pointer;
  }
}
@mixin gradient-button {
  background: linear-gradient($pinkCG, $purpleCG);
}
@mixin gradient-light-scale {
  background: linear-gradient($light-pink, $light-purple);
  transform: scale(1.01);
}
@mixin shadow-basic {
  box-shadow: 1px 4px 4px 0px rgba(50, 50, 50, 0.3);
}
@mixin shadow-meal {
  box-shadow: 1px 4px 4px 0px rgba(50, 50, 50, 0.1);
}
/* Mixin zoom button */
@mixin zoom-main-button {
  transform: scale(1.02);
}
/* Mixin Heart */
@mixin heart-positionnement {
  position: absolute;
  right: 0px;
  margin: 18px;
}
@mixin empty-heart {
  color: transparent;
  background-image: linear-gradient($pinkCG, $purpleCG);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
@mixin full-heart {
  cursor: pointer;
  opacity: 1;
}
/* Keyframes animation */
@mixin spin-animation {
  @keyframes spin {
    0% {
      transform: rotate(-300deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}
@mixin text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin meal-appear {
  @keyframes appear {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
